####################################################################################
#	                         TESTING
####################################################################################    
#--------------------------------------------------------------------
[gcode_macro _DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    {% set out = [] %}
    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {action_respond_info(out|join("\n"))}

#--------------------------------------------------------------------
[gcode_macro _TEST_TC_RELIABILITY_Z_POSITION]
gcode:
    {% set tn = printer.tool_probe_endstop.active_tool_number|string %}
    {% set cur_z = printer.toolhead.position[2]|float - printer['tool T' + tn].gcode_z_offset|float %}
    {% if cur_z < (printer['toolchanger'].params_max_z - 50) |float %}
        G0 Z{cur_z + 0.2} F9000
    {% else %}
        G0 Z0.2 F9000
    {% endif %}
    M400
    RESPOND TYPE=echo MSG='Height: {cur_z|round(3, 'common')} mm ...'

#--------------------------------------------------------------------
[gcode_macro TEST_TC_RELIABILITY]
variable_noth: 4
gcode:
    {% set tcno_per_tool = params.TC|default(5)|int %}                     # Number of tool-changes per tool-head
    {% set tools = printer.toolchanger.tool_numbers %}                     # List of tools
    {% set total_no_tc = (tcno_per_tool*noth*(1+1/noth))|int %}
    ## Testing ------------------------------------------------------
    RESPOND TYPE=echo MSG='Test {total_no_tc} tool-changes'
    {% for n in range(1,total_no_tc) %}
        {% set nr = printer.toolchanger.tool_numbers|random %}             # Set a random tool to pickup
        _TEST_TC_RELIABILITY_Z_POSITION                                    # Move up 1 layer
        T{nr}                                                              # Tool change
        RESPOND TYPE=echo MSG='Change no.:{n}'
    {% endfor %}
    T0
    G1 X{printer['gcode_macro _home'].xh} Y{printer['gcode_macro _home'].yh} F9000
    ## End note -----------------------------------------------------
    M400
    RESPOND TYPE=echo MSG='Reliability test cleared. CONGRATULATION'

#--------------------------------------------------------------------
[gcode_macro TEST_DOCKING]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    {% if printer['quad_gantry_level'].applied == False %}
        QUAD_GANTRY_LEVEL
    {% endif %}
    TEST_TOOL_DOCKING
    RESPOND TYPE=error MSG='PRINTER NEED TO BE RE-HOMED'  

# #--------------------------------------------------------------------
# [gcode_macro _TEST]
# gcode:
    