####################################################################################
#	                         TESTING
####################################################################################
#--------------------------------------------------------------------
[gcode_macro DUMP_VARIABLES]
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}

    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {action_respond_info(out|join("\n"))}

# #--------------------------------------------------------------------
[gcode_macro A_DOCKING_TEST]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    {% if printer['quad_gantry_level'].applied == False %}
        QUAD_GANTRY_LEVEL
    {% endif %}
    TEST_TOOL_DOCKING

# #--------------------------------------------------------------------
# [gcode_macro TEST]
# gcode:
#     RESPOND TYPE=echo MSG='Change No.: {printer.tool_probe_endstop.active_tool_number} ...'
